* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*root{

}*/
body {
    background-color: #212121;
}

.navbar {
    background-color: brown;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    color: red;
}

.nav-link:focus {
    color: yellowgreen;
}